= octicon("heart", nil, "keyword-heart heart-one")
= best_in_place current_user, :keyword_one, url: update_path, place_holder: "Top Keyword", class: "light keyword", html_attrs: { placeholder: "Enter Keyword", class: "form-control" }
%br
%br
= octicon("heart", nil, "keyword-heart heart-two")
= best_in_place current_user, :keyword_two, url: update_path, place_holder: "Next Keyword", class: "light keyword", html_attrs: { placeholder: "Enter Keyword", class: "form-control" }
%br
%br
= octicon("heart", nil, "keyword-heart heart-three")
= best_in_place current_user, :keyword_three, url: update_path, place_holder: "Next Keyword", class: "light keyword", html_attrs: { placeholder: "Enter Keyword", class: "form-control" }
%br
%br
= octicon("heart", nil, "keyword-heart heart-four")
= best_in_place current_user, :keyword_four, url: update_path, place_holder: "Next Keyword", class: "light keyword", html_attrs: { placeholder: "Enter Keyword", class: "form-control" }
%br
%br
= octicon("heart", nil, "keyword-heart heart-five")
= best_in_place current_user, :keyword_five, url: update_path, place_holder: "Bottom Keyword", class: "light keyword", html_attrs: { placeholder: "Enter Keyword", class: "form-control" }
