%h4.light
  1.
  = best_in_place current_user, :keyword_one, url: update_path, place_holder: "Top Keyword", class: "light", html_attrs: { placeholder: "Enter Keyword", class: "form-control" }
%h4.light
  2.
  = best_in_place current_user, :keyword_two, url: update_path, place_holder: "Next Keyword", class: "light", html_attrs: { placeholder: "Enter Keyword", class: "form-control" }
%h4.light
  3.
  = best_in_place current_user, :keyword_three, url: update_path, place_holder: "Next Keyword", class: "light", html_attrs: { placeholder: "Enter Keyword", class: "form-control" }
%h4.light
  4.
  = best_in_place current_user, :keyword_four, url: update_path, place_holder: "Next Keyword", class: "light", html_attrs: { placeholder: "Enter Keyword", class: "form-control" }
%h4.light
  5.
  = best_in_place current_user, :keyword_five, url: update_path, place_holder: "Bottom Keyword", class: "light", html_attrs: { placeholder: "Enter Keyword", class: "form-control" }
