$("#score-<%= params[:id] %>").data("language", <%= @language_score %>);
totalScore = ($("#score-<%= params[:id] %>").data().keyword + <%= @language_score %>)
red = parseInt(totalScore);
green = parseInt(255 - totalScore);

if(parseInt(totalScore) === 200) {
  red = 220;
  green = 30;
}

width = ((200 - totalScore)/200.0) * 100;

styleString = "background-color: rgb(" + red + ", " + green + ", 0); width: " + width + "%; height:25px;"

$("#score-<%= params[:id] %>").html("Favorability");
$('#score-<%= params[:id] %>').after("<h4><p style='" + styleString + "'></h4>");
