<% if !@languages.empty? %>
  $('#repo-languages-<%= @id %>').html("<%= escape_javascript(render partial: 'repo_languages', locals: { id: @id } ) %>");
  <% colors = JSON.parse(File.read("vendor/assets/json/colors.json")) %>
  data = [
    <% @languages.each do |language, value| %>
      {
        value: <%= value %>,
        color: "<%= colors[language.to_s] %>",
        highlight: "<%= colors[language.to_s] %>",
        label: "<%= language %>"
      },
    <% end %>
  ];

  legendString = "<ul class='doughnut-legend'>";
  <% @languages.each do |language, value| %>
    legendString += "<li style='font-weight:200; padding: 5px;'>";
    legendString += "<span style='background-color: <%= colors[language.to_s] %>; color: rgba(255, 0, 0, 0); margin-right: 3px;'>";
    legendString += "X";
    legendString += "</span>";
    legendString += "<%= language.to_s %>";
    legendString += "</li>";
  <% end %>
  legendString += "</ul>";

  options = {
    legendTemplate: legendString
  };

  myNewChart = new Chart($('#<%= @id %>').get(0).getContext("2d")).Doughnut(data, options);
  $('#<%= @id %>-legend').html(legendString);
<% else %>
$('#<%= @id %>-legend').remove();
$('#repo-languages-<%= @id %>').toggleClass("col-md-4 col-md-8");
$('#repo-languages-<%= @id %>').html("<h5 class='light'>No language information available for this repository.</h5>");
<% end %>

<% if current_user.has_all_keywords? %>
  $.ajax("/repositories/<%= @id %>/readme");
<% else %>
  $('#score-<%= @id %>').html("Choose 5 keywords then refresh the page in order to score this repository.")
<% end %>
