.col-md-12
  .col-md-6
    %div
      = repository_icon(repository)
      %a.repo-link.adhere-top{ href: "https://github.com/#{repository.name}" }
        = repository.name

    %div{ id: "repo-languages-#{repository.id}" }
      %div
        Calculating Languages
        .progress
          .progress-bar.progress-bar-striped.progress-bar-success.active.language-bar
        :javascript
          $.ajax("repositories/#{repository.id}/languages");
  .col-md-5
    %h4.light
      = octicon("calendar")
      Last Commit Date:
      = repository.pushed_at.strftime("%-m/%d/%Y")
    %h4.light
      = octicon("star")
      Stars:
      = repository.watchers
    %h4.light
      = octicon("book")
      = repository_description(repository)
.col-md-8
  %hr.repo-row
